{% extends "GestionEtudiantBundle::index.html.twig" %}
{% block container %}
    <h1 class="mdl-typography--text-center">{{ etudiant.nom }} ({{ etudiant.id }})</h1>
    {% for key,annee in tableau %}
        <h3>{{ key }}</h3>
        {% for cleSemestre,semestre in annee %}
            <table>
                <thead>
                <th>{{ cleSemestre }}</th>
                <th>note</th>
                <th><a href="{{ path('gestion_etudiant_decision',{'semestre':cleSemestre,'annee':key,'id_etudiant':etudiant.id}) }}">
                        <i class="material-icons" title="Inserrer un avis">insert_comment</i>
                    </a></th>
            </thead>
            <tbody>
                {% for note in semestre %}
                    <tr>
                        <td>{{ note.idModule.nomModule }}</td>
                        <td>{{ note.note }}</td>
                    </tr>

                {% endfor %}
            </tbody>

        </table>
    {% endfor %}
{% endfor %}
{% endblock %}